
body {
  background: linear-gradient(360deg,#000000,#6a11cb,#330867) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: gradient-animation 28s ease infinite;

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}